trailingComma: 'es5'
bracketSpacing: true
singleQuote: true
tabWidth: 4
overrides:
    - files:
        - "package.json"
        - ".eslintrc.js"
        - "*.yml"
      options:
          tabWidth: 2
